@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Dancing+Script|Play|Vampiro+One');
$menu-font: 'Bungee Shade', cursive;
$content-font: 'Play', sans-serif;
$primary-color: blue;
$page-background: #f7f7f7;
$menu-background: #cbcbcb;