@import './loader.scss';
@import './base_style.scss';
body{
  margin:0;
  padding:0;
  background: #335C7D; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #335C7D , #fff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #335C7D , #fff)
}
.content_body{
	height:100vh;
	.flex_container{
		display: flex;
		align-items: center;
		height: 100vh;
		h1{
			margin: 0 auto;
			font-size: 5rem;
			font-weight: 100;
			font-family: $content-font;
		}
	}
	
	background: #f5aa2f;
	color: #333;
}
