@import './loader.scss';
@import './base_style.scss';
body{
   margin:0;
   padding:0;
}
.list_container{
	// box-sizing: content-box;
    padding: 40px 20px 0;
 //    width: calc(100% - 40px);
    margin: 0 auto 30px;
    margin-top: 108px;
    max-width: 935px;
 	display: flex; /* or inline-flex */
 	flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
  	/* Then we define how is distributed the remaining space */
  	justify-content: space-around;
	.img_container{
		// display: inline-block;
		// margin: 0px 14px 14px 0px;
		// // width: 31%;
		// height: 280px;
		position: relative;
		// overflow: hidden;
		// flex: 1 0 33%;
		text-align: center;
		// width: 250px;
		height: 250px;
		margin: 5px;
		// padding: 10px;
		// margin:10px 0 0 10px;
	    flex-grow: 1;
	    // height: auto;
	    width: calc(100% * (1/3) - 10px - 1px);
		img{
			width: 100%;
		    height: 250px;

		    position: absolute;
		    right: 0;
		    bottom: 0;
		    // margin: 0 auto;
    		display: block;
    		-webkit-filter: brightness(60%);
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			-o-transition: all 1s ease;
			-ms-transition: all 1s ease;
			transition: all 1s ease;
			&:hover{
				-webkit-filter: brightness(100%);
				cursor: pointer;
			}
		}

	}

	.next_page_btn{
		display: block;
		margin: 60px auto;
		padding: 30px;
		background: white;
		border: none;
	}
}


// .flex-container {
//   padding: 0;
//   margin: 0;
//   list-style: none;

//   display: -webkit-box;
//   display: -moz-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;

//   -webkit-flex-flow: row wrap;
//   justify-content: space-around;
// }

// .flex-item {
//   background: tomato;
//   padding: 5px;
//   width: 200px;
//   height: 150px;
//   margin-top: 10px;

//   line-height: 150px;
//   color: white;
//   font-weight: bold;
//   font-size: 3em;
//   text-align: center;
// }



// .list_container div:nth-child(3n+1) {
// 	margin-left: 20px;
// }
.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  width: 100%;
}
.grid-item { width: 350px; }
// .grid-item--width2 { width: 400px; }

/* fluid 5 columns */
.grid-sizer,
.grid-item { width: 20%; }
/* 2 columns wide */
.grid-item--width2 { width: 40%; }
