@import '../../../node_modules/fullpage.js/dist/jquery.fullpage.css';
@import './base_style.scss';
@import './partials/variables'; // colors, fonts etc...
@import './partials/mixins'; // custom mixins
@import './partials/layout'; // responsive grid and media queries


@mixin gradient-text($gradient, $bg : 'light') {
  @supports(mix-blend-mode: lighten) {
    display: inline-block;
    position: relative;
    
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      
      background: unquote($gradient);
      pointer-events: none;
    }

    @if ($bg == 'light') {
      color: #000;
      background: #fff;
      mix-blend-mode: multiply;

      &::before {
        mix-blend-mode: screen;
      }
    }
  }
}


.content_wrapper{
}
.txt_wrapper{
	height: 100%;
	display: flex;
	align-items:center;
	p{
		margin: 0 auto;
		animation-duration: 2s;
		-vendor-animation-duration: 2s;
		-vendor-animation-delay: 0.5s;
		-vendor-animation-iteration-count: infinite;
		font-size: 48px;
		font-weight: 100;
		text-align: center;
		font: 300% $content-font;

		font-family: 'Oswald', sans-serif;
	    font-size: 10em;
	    font-weight: 700;
	    text-transform: uppercase;
	    color: #e78383;
	    -webkit-transition: color 0s 0.5s;
	    transition: color 0s 0.5s;
	}
}

// section 3
.split{
	display: flex;
	justify-content: center;
	align-items: center;
}
.box{
    // position: absolute;
    // width:50%;
    // height: 50%;
    font: 200% $content-font;
  	margin: 0;
    flex-grow: 1;
    background: #ccc;
    // height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    box-shadow: inset 0 0 0 100vmax rgba(0,0,0,.2);
    transition: .2s all;
    cursor: pointer;
    &:hover {
      flex-grow: 2;
      box-shadow: inset 0 0 0 100vmax rgba(175,0,100,.1);
    }
    .logo_container{
    	height: 140px;
    	width: 100%;
    	display: flex;
    }
    a{
        width: 100%;
        text-align: center;
    }

    p{
    	width: 100%;
    	text-transform: uppercase;
		letter-spacing: .075em;
		color: #fff;
		transition: .2s all;
    }
    width: 50%; 
    height: 50%; 
    float: left;
}
#box1{
    background: $oohlala;
    top: 0;
    left: 0;
    background: #ee0979; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ee0979 , #ff6a00); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ee0979 , #ff6a00)
}
#box2{
    background: green;
    top:0;
    right:0;
	background: #ee0979; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #ee0979 , #ff6a00); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #ee0979 , #ff6a00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	        
}
#box3{
    background: pink;
    bottom:0;
    left:0;
    background: #ee0979; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ee0979 , #ff6a00); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ee0979 , #ff6a00)
}
#box4{
    background: orange;
    bottom:0;
    right:0;
    background: #ee0979; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #ee0979 , #ff6a00); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #ee0979 , #ff6a00);
}
a{
	text-decoration: none;
}
.item {
  position: relative;
  margin: 0;
  overflow: hidden;

}
.item img {
  width: 120px;
  min-height: 20px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  margin: auto;
  padding:10px;
}
.item:hover{
	img {
	  -moz-transform: scale(1.2);
	  -webkit-transform: scale(1.2);
	  transform: scale(1.2);
	}
}
// end of section 3


// section 2
#photography-image {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../../assets/background.png");
    background-position-x: 50%;
    background-size:cover;
    background-repeat:no-repeat;
}
.txt_on_canvas{
	font-family:$content-font;
	position: relative;
    display: block;
    text-align: center;
    margin: 0 auto;
    z-index: 9999;
    font-size: 48px;
    font-weight: 100;
   	@include gradient-text('linear-gradient(to right,#23966c, #faaa54, #e23b4a, #db0768, #360670)', 'light');
 //   	&:hover{
 //   		font-size: 60px;
 //   	}
 //   	-webkit-transition: all 0.3s ease;
	// -moz-transition: all 0.3s ease;
	// -o-transition: all 0.3s ease;
	// -ms-transition: all 0.3s ease;

	font-family: 'Oswald', sans-serif;
    font-size: 5em;
    font-weight: 700;
    text-transform: uppercase;
    color: #e78383;
    -webkit-transition: color 0s 0.5s;
    transition: color 0s 0.5s;
    &:hover{
   		// font-size: 60px;
   	}
}
// end of secion 2

// section 4


@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@mixin animation ($stuff ) {
    -webkit-animation: $stuff;
    -moz-animation: $stuff;
    -ms-animation: $stuff;
    animation: $stuff;
}

@include keyframes(sonarEffect) {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
		transform: scale(1.5);
		opacity: 0;
	}
}

.social_container{
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: #3851bc;
    font-family: $content-font;
    a{
    	display: inline-block;
	    font-size: 0px;
	    cursor: pointer;
	    margin: 15px 30px;
	    width: 90px;
	    height: 90px;
	    border-radius: 50%;
	    text-align: center;
	    position: relative;
	    z-index: 1;
	    color: #fff;
	    background: rgba(255,255,255,0.1);
	    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
	    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
	    transition: transform ease-out 0.1s, background 0.2s;
	    &:hover {
			background: rgba(255,255,255,0.05);
			-webkit-transform: scale(0.93);
			-moz-transform: scale(0.93);
			-ms-transform: scale(0.93);
			transform: scale(0.93);
			color: #fff;
			@include animation(sonarEffect 1.3s ease-out 75ms);
		}

	    i{
	    	line-height: 90px;
	    	font-size: 48px;
	    }
    }
	.icon_container{
		width: 20%;
	    margin: 0 auto;
	    text-align: center;
	    font-size: 250%;
	}
	.footer{
		position: absolute;
		z-index: 1000;
		display: block;
		width: 100%;
		text-align: center;
		color: white;
		bottom: 20px;
		p{
		    font-size: 1.2rem;
   			font-weight: 100;
		}
	}
}
// end of section 4

// section 1

#intro-image {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../../assets/intro_bg.png");
    background-position-x: 50%;
    background-size:cover;
    background-repeat:no-repeat;
}

.grid{
	width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    text-align: center;
    &__item{
    	margin: 0 auto;
    }
    .self_desc{
    	color: #DDD;
		font-weight: 100;
		margin-top: 60px;
    	font-size: 1.2rem;
    	position: relative;
    }
}
.scroll_hint_container{
	text-align: center;
	position: relative;
	p{
		color: #DDD;
		font-size: 90%;
		font-weight: 100;
		margin: 0px;
	}
	i{
		font-size: 3rem;
		font-weight: 200;
		cursor: pointer;
		color: #DDD;
		margin-top: -10px;
		// &:hover{
		// 	color: #1e1a1b;
		// }
	}
	&:hover{
		i{
			color: #1e1a1b;
		}
		
	}
}
/* Yaku */
.link--yaku {
	color: #DDD;
	font-family: $content-font;
	font-weight: 100;
	// text-transform: uppercase;
	font-size: 5em;
	overflow: hidden;
	padding: 0 0 10px;
}

.link--yaku::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	-webkit-transform: translate3d(-101%,0,0);
	transform: translate3d(-101%,0,0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.link--yaku:hover::before {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.link--yaku span {
	display: inline-block;
	position: relative;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,0deg);
	transform: perspective(1000px) rotate3d(0,1,0,0deg);
	-webkit-transition: -webkit-transform 0.3s, color 0.3s;
	transition: transform 0.3s, color 0.3s;
}

.link--yaku:hover span {
	color: #1e1a1b;
	-webkit-transform: perspective(1000px) rotate3d(0,1,0,360deg);
	transform: perspective(1000px) rotate3d(0,1,0,360deg);
}

.link--yaku span:nth-child(16),
.link--yaku:hover span:first-child {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.link--yaku span:nth-child(15),
.link--yaku:hover span:first-child {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.link--yaku span:nth-child(14),
.link--yaku:hover span:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.link--yaku span:nth-child(13),
.link--yaku:hover span:first-child {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.link--yaku span:nth-child(12),
.link--yaku:hover span:first-child {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
.link--yaku span:nth-child(11),
.link--yaku:hover span:first-child {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}
.link--yaku span:nth-child(10),
.link--yaku:hover span:first-child {
	-webkit-transition-delay: 0.6s;
	transition-delay: 0.6s;
}
.link--yaku span:nth-child(9),
.link--yaku:hover span:first-child {
	-webkit-transition-delay: 0.7s;
	transition-delay: 0.7s;
}
.link--yaku span:nth-child(8),
.link--yaku:hover span:first-child {
	-webkit-transition-delay: 0.8s;
	transition-delay: 0.8s;
}
.link--yaku span:nth-child(7),
.link--yaku:hover span:first-child {
	-webkit-transition-delay: 0.9s;
	transition-delay: 0.9s;
}
.link--yaku span:nth-child(6),
.link--yaku:hover span:first-child {
	-webkit-transition-delay: 1s;
	transition-delay: 1s;
}
.link--yaku span:nth-child(5),
.link--yaku:hover span:first-child {
	-webkit-transition-delay: 1.1s;
	transition-delay: 1.1s;
}
.link--yaku span:nth-child(4),
.link--yaku:hover span:first-child {
	-webkit-transition-delay: 1.2s;
	transition-delay: 1.2s;
}

.link--yaku span:nth-child(3),
.link--yaku:hover span:first-child {
	-webkit-transition-delay: 1.3s;
	transition-delay: 1.3s;
}

.link--yaku span:nth-child(2),
.link--yaku:hover span:first-child {
	-webkit-transition-delay: 1.4s;
	transition-delay: 1.4s;
}

.link--yaku span:first-child,
.link--yaku:hover span:first-child {
	-webkit-transition-delay: 1.5s;
	transition-delay: 1.5s;
}

// end of section 1



// /* Kukuri */
.link--kukuri {
	text-transform: uppercase;
	font-weight: 900;
	overflow: hidden;
	color: #c5c2b8;
	font-family: $content-font;
}

.link--kukuri:hover {
	color: #000;
}

.link--kukuri::after {
	content: '';
	position: absolute;
	height: 16px;
	width: 100%;
	top: 50%;
	margin-top: -8px;
	right: 0;
	// sbackground: #fff;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,0);
	transition-timing-function: cubic-bezier(0.7,0,0.3,0);
}

.link--kukuri:hover::after {
	-webkit-transform: translate3d(100%,0,1);
	transform: translate3d(100%,0,1);
}

.link--kukuri::before {
	content: attr(data-letters);
	position: absolute;
	z-index: 2;
	overflow: hidden;
	color: #424242;
	white-space: nowrap;
	width: 0%;
	-webkit-transition: width 0.4s 0.3s;
	transition: width 0.4s 0.3s;
}

.link--kukuri:hover::before {
	width: 100%;
}