@import './base_style.scss';
.sidenav_container{
  // font-family: 'Avenir', Helvetica, Arial, sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  color: black;
  margin-top: 0px;
  display: block;
  margin: 0 auto;
  text-align: center;
  background: rgba(204, 204, 204, 0.2);
  font: 100% $content-font;
  width: 100%;
  top: 0px;
  z-index: 100;
  div{
    display: inline-block;
    &.domain_wrapper{
      width: 30%;
      text-align: center;
    }
    &.nav_wrapper{
      width: 70%;
      height: 109px;
      vertical-align: top;
      line-height: 109px;
      text-align: right;
      nav{
        display: inline-block;
      }
    }
  }
  a{
  	text-decoration: none;
    color: #919397;
  	&.domain_section{
      font-size: 80px;
      color: white;
  	}
  	&.nav_section{
      font-size: 14px;
      font-weight: 100;
      margin: 0 20px;
      color: #d1d1d1;
      &.router-link-active{
        // border-bottom:5px solid #2c3e50;
        // padding-bottom:10px;
        color: white;
        font-size: 24px;
        transition: all 0.4s ease;
      }
  	}

    &.nav_section:last-of-type{
      margin-right: 100px;
    }
  }
  &.sticky {
    font-size: 24px;
    height: 72px;
    background: #335C7D;
    text-align: left;
    div{
      &.domain_wrapper{
        a{
          font-size: 50px;
          line-height: 72px;
        }
      }
      &.nav_wrapper{
        line-height: 72px;
        a{
          font-size: 14px;
          line-height: 72px;
          padding-bottom: 10px;
          &.router-link-active{
            border-bottom:5px solid white;
            // padding-bottom:10px;
            color: white;
          }
        }

      }
    }
  }
  transition: all 0.6s ease;
}




.cl-effect-16 a {
  color: #6f8686;
  text-shadow: 0 0 1px rgba(111,134,134,0.3);
}

.cl-effect-16 a::before {
  color: #fff;
  content: attr(data-hover);
  position: absolute;
  opacity: 0;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}

.cl-effect-16 a:hover::before,
.cl-effect-16 a:focus::before {
  -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  opacity: 1;
}
