// colors

$main-text: #7f8c97; // main text
$link: #acb7c0; // anchor tags
$background: #e9f0f5; // body background color

$color-1: #303e49; // blue dark
$color-2: #c03b44; // red
$color-3: #ffffff; // white
$color-4: #75ce66; // green
$color-5: #f0ca45; // yellow

// fonts

$primary-font: 'Droid Serif', serif;
$secondary-font: 'Open Sans', sans-serif;

$oohlala:#2c94e9;
$oohlala-1:#E1F5FE;
$oohlala-2:#B3E5FC;
$oohlala-3:#81D4FA;
$oohlala-4:#4FC3F7;
$oohlala-5:#29B6F6;
$oohlala-6:#03A9F4;
$oohlala-7:#039BE5;
$oohlala-8:#0288D1;
$oohlala-9:#0277BD;
$oohlala-10:#01579B;


$mcm-1:#ECEFF1;
$mcm-2:#CFD8DC;
$mcm-3:#B0BEC5;
$mcm-4:#90A4AE;
$mcm-5:#78909C;
$mcm-6:#607D8B;
$mcm-7:#546E7A;
$mcm-8:#455A64;
$mcm-9:#37474F;
$mcm-10:#263238;

$nowinstore-1:#66BB6A;
$nowinstore-2:#4CAF50;
$nowinstore-3:#43A047;
$nowinstore-4:#388E3C;
$nowinstore-5:#2E7D32;
$nowinstore-6:#1B5E20;


// $free-1:#;
// $free-2:#;
// $free-3:#;
// $free-4:#;
// $free-5:#;
// $free-6:#;
// $free-7:#;
// $free-8:#;
// $free-9:#;
// $free-10:#;
